<div class="container">
	<% unless user_signed_in? %>
	  <%= render 'pages/home' %>
	<% end %>

	<div id="pins">
	  <%= render @pins %>
	</div>
</div>

<div class="pagination">
  <%= will_paginate @pins %>
</div>

