$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

@import 'bootstrap';

body{
	padding: 60px;
}

.brand{
	height:80px;
	width: 100px;
}

.navbar-inner{
	height:55px
}

.edit-button{
	margin-left: 250px;
}

.cancel-account{
	margin-top:100px;
}
@import 'bootstrap-responsive';